<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span></span>
      </button>
      <a class="navbar-brand" href="/">Tasky</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="tab"><a href="/">Home</a> </li>
        <li class="tab"><a href="/calendar">Calendar</a> </li>
        <li class="tab"><a href="/tasklist">Tasklist</a> </li>
        <li class="tab"><a href="/statistics">Statistics</a> </li>
        <li class="dropdown tab"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log in<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right login-nav-dropdown">
              <li>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12" style="margin-bottom:15px;">
                      <strong>Log in with</strong>
                    </div>
                    <div class="col-xs-12">
                      <button type="button" class="btn btn-social btn-facebook btn-primary">
                        <span class="fa fa-facebook"></span>acebook
                      </button>
                      <button type="button" class="btn btn-social btn-google btn-danger">
                        <span class="fa fa-google"></span>oogle
                      </button>
                    </div>
                    <div class="col-xs-12 separator">
                      Or log in here
                    </div>
                    <div class="col-xs-12">
                      <form>
                        <div class="form-group">
                          <label for="txt_email">Email</label>
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="email" class="form-control" id="txt_email" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="txt_password">Password</label>
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="txt_password" placeholder="Password">
                          </div>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                        <div class="form-group" style="display:block;">
                          <a href="#">Forgot password?</a>
                          <a onclick="document.getElementById('modal-wrapper').style.display='block'">Create new user</a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
        </li>
      </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>