{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form method="post" class="form-signin" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
      <label for="txt_email">Email</label>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
        <input type="email" class="form-control" id="txt_email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="txt_password">Password</label>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
        <input type="password" class="form-control" id="txt_password" placeholder="Password">
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>

{% endblock %}